---
const PROJECT = {
  id: "d66e55f6-fc41-4d29-8723-942c8ee3ad76",
  title: "Innovating for Health: Support Dr. Regina Barzilay's AI Research",
  description:
    "Embark on a journey of innovation and impact with Dr. Regina Barzilay, a leading AI researcher at MIT. Dr. Barzilay is revolutionizing healthcare through artificial intelligence, focusing on early detection of diseases like breast cancer and advancing drug discovery processes. Her work harnesses the power of machine learning to analyze patterns in vast data, leading to more accurate diagnoses and personalized treatment options. By supporting Dr. Barzilay, you're contributing to the cutting edge of medical technology, where AI meets healthcare to create a healthier future for all.",
  header: "Pioneering AI for Better Health Outcomes",
  slug: "dr-regina-barzilay-ai-healthcare",
  tags: [
    "AI Innovation",
    "Healthcare Transformation",
    "Life-Saving Technology",
  ],
  banner: {
    src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/63885d06-17fa-4a87-1f7f-06dbacd64900/public",
    alt: "Dr. Regina Barzilay working on AI-driven healthcare solutions",
  },
  creator: {
    name: "Dr. Barzilay, Regina",
    avatar: {
      src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/c8d54e95-b018-4018-ee5d-37228a3c3400/avatar",
      alt: "Portrait of Dr. Regina Barzilay, innovator in AI and healthcare",
    },
  },
  areas: [
    {
      header: "Revolutionizing Cancer Detection",
      body: "Dr. Barzilay's AI algorithms are transforming the fight against breast cancer by identifying signs earlier than ever before. This pioneering research means earlier treatment, better survival rates, and hope for millions.",
    },
    {
      header: "Accelerating Drug Discovery",
      body: "Leveraging AI, Dr. Barzilay is expediting the discovery of new drugs, reducing development times from years to months. This acceleration has immense potential to respond rapidly to global health crises.",
    },
    {
      header: "Creating Tailored Treatment Plans",
      body: "Through advanced AI analysis, Dr. Barzilay's work enables personalized healthcare, adapting treatments to individual patient profiles, greatly enhancing the effectiveness of medical interventions.",
    },
  ],
  callToAction:
    "Your support for Dr. Barzilay’s groundbreaking AI research in healthcare is a step towards a future where advanced technology and medicine converge for the betterment of humanity. This is your opportunity to be part of a revolution in healthcare. Donate today and join us in this noble cause of saving lives and transforming healthcare.",
};
---

<div class='flex flex-col justify-center items-center'>
  <h2>Grow Page here~</h2>
</div>
