---
const PROJECT = {
  id: "e3462403-fc91-4f71-b5c3-12c28d040f89",
  title: "SafERteens Muskegon: A Bold Stand Against Youth Gun Violence",
  description:
    "SafERteens, a transformative program at Trinity Health Muskegon Hospital, spearheaded by Dr. Brian Stork of the University of Michigan, is making pivotal strides in addressing youth gun violence. With a focus on early intervention in ER settings, the program identifies at-risk youth, offering critical support and resources. This proactive approach, grounded in extensive research, specifically targets the startling rise in firearm injuries among young Black men in Muskegon. By supporting SafERteens, you're investing in a safer, more hopeful future for our community's youth.",
  header: "Be the Change: Support Youth Violence Prevention",
  slug: "saferteens",
  tags: ["Youth Empowerment", "Violence Prevention", "Community Health"],
  banner: {
    src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/3e9cc64e-c7a8-4f15-848f-d97830afc800/public",
    alt: "A snapshot of SafERteens’ vital role in the ER of Trinity Health Muskegon Hospital, as featured on FOX 17 news",
  },
  creator: {
    name: "Dr. Stork, Brian",
    avatar: {
      src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/da31f920-4472-460e-fe7e-ff9ad927bd00/avatar",
      alt: "Portrait of Dr. Brian Stork, a dedicated advocate for youth safety in Muskegon",
    },
  },
  areas: [
    {
      header: "Proactive Intervention in the ER",
      body: "SafERteens operates at the critical juncture of emergency care, deploying a unique screening process to identify and support youths involved in gun violence, offering immediate interventions and alternative pathways.",
    },
    {
      header: "Addressing a Critical Community Need",
      body: "Focused on the startling statistics of firearm injuries, especially among young Black men, SafERteens addresses a dire community need, underscoring the importance of targeted, culturally sensitive intervention strategies.",
    },
  ],
  callToAction:
    "Your support for SafERteens is more than a donation; it's a commitment to youth safety and a brighter future for our community. Join us in this vital mission to curb youth gun violence. Together, we can create lasting change and save lives. Donate now to make a difference.",
};
---

<div class='flex flex-col justify-center items-center'>
  <h2>Grow Page here~</h2>
</div>
