@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-style: normal;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
ul,
li,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  /* Ensure vertical scrolling is allowed */
  /* overflow-x: hidden; Only prevent horizontal overflow */
}

body {
  line-height: 1;
  background: #0f7cc0;
  font-family: "Montserrat-Bold", "sans";
  font-style: normal;
  transition: font-size 0.3s ease-out;
  font-weight: 700;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  font-size: 18px; /* Base font size for mobile */
}

/* width */
*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Track */
*::-webkit-scrollbar-track {
  border-radius: 1px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #a9a2a2;
  border-radius: 1px;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
button,
input {
  font-weight: 700;
}

/* Optional: Add this CSS to hide the scrollbar aesthetically */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h1 {
  font-size: 1.67rem; /* Scaled up from 18px */
  scroll-margin: 5rem /* 80px */;
  line-height: 2.5rem /* 40px */;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #fff;
  overflow-wrap: break-word;
  text-align: center;
  @media (min-width: 1024px) {
    line-height: 1;
  }
}

h2 {
  font-size: 1.39rem; /* Scaled up from 18px */
  scroll-margin: 5rem /* 80px */;
  border-bottom-width: 1px;
  padding-bottom: 0.5rem /* 8px */;
  line-height: 2.25rem /* 36px */;
  font-weight: 600;
  letter-spacing: -0.025em;
  margin-top: 0px;
}

h3 {
  font-size: 1.25rem; /* Scaled up from 18px */
  scroll-margin: 5rem /* 80px */;
  line-height: 2rem /* 32px */;
  font-weight: 600;
  letter-spacing: -0.025em;
}

h4 {
  font-size: 1.11rem; /* Scaled up from 18px */
  scroll-margin: 5rem /* 80px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 600;
  letter-spacing: -0.025em;
}

p {
  line-height: 1.75rem /* 28px */;
}

/* Tablet screen sizes */
@media (min-width: 768px) {
  h1 {
    font-size: 2.22rem; /* Scaled up for tablet */
  }

  h2 {
    font-size: 1.94rem; /* Scaled up for tablet */
  }

  h3 {
    font-size: 1.67rem; /* Scaled up for tablet */
  }

  h4 {
    font-size: 1.39rem; /* Scaled up for tablet */
  }
}

/* Desktop screen sizes */
@media (min-width: 1024px) {
  h1 {
    font-size: 2.78rem; /* Scaled up for desktop */
  }

  h2 {
    font-size: 2.22rem; /* Scaled up for desktop */
  }

  h3 {
    font-size: 1.94rem; /* Scaled up for desktop */
  }

  h4 {
    font-size: 1.67rem; /* Scaled up for desktop */
  }
}

blockquote {
  margin-top: 1.5rem /* 24px */;
  border-left-width: 2px;
  padding-left: 1.5rem /* 24px */;
  font-style: italic;
}

::selection {
  background-color: #ffda00;
  color: #101214;
}

label {
  display: block;
  color: #FFFFFF;
  line-height: 1.25;
}

input {
  display: inline-block;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.error-message {
  color: #dc2626;
  padding: 8px;
}
.error-input {
  box-shadow: 0px 0px 2px 1px #dc2626;
}

.dollar {
  content: "\0024";
}
