/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p,
a, small, strike, strong, sub, sup, tt, var,
b, u, i, center, ul, li,
fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  /* Ensure vertical scrolling is allowed */
  overflow-x: hidden; /* Only prevent horizontal overflow */
}

body {
  line-height: 1;
  background: #0F7CC0;
  font-family: 'Montserrat-Bold', "sans";
  font-style: normal;
  transition: font-size 0.3s ease-out;
  font-weight: 700;
  color: #101214;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
}

  /* width */
*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Track */
*::-webkit-scrollbar-track {
  border-radius: 1px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #a9a2a2;
  border-radius: 1px;
}


a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/* Optional: Add this CSS to hide the scrollbar aesthetically */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
