---
import Layout from '~/layouts/Layout.astro';
---

<Layout title="Lightup">
	<main style="display: flex; flex-direction: column; padding: 1rem; gap: 1rem;">
		<h2>Advancing Research, Advancing Ideas, Advancing Humanity</h2>
		<h1>A Catalyst for Academic Breakthroughs</h1>
	</main>
</Layout>
