---
import Layout from '~/layouts/Layout.astro';
---

<Layout title="Lightup">
	<main class="flex flex-col p-4 gap-4">
		<h1 class="text-4xl">Welcome to <span>Astro</span></h1>
		<p class="text-lg">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="flex flex-col gap-4">
			<li>
				<a href="https://docs.astro.build/getting-started">
					<h2 class="text-2xl">Getting Started</h2>
					<p class="text-lg">Learn how to install Astro and create your first page.</p>
				</a>
			</li>
			<li>
				<a href="https://docs.astro.build/reference/configuration">
					<h2 class="text-2xl">Configuration</h2>
					<p class="text-lg">Learn how to configure Astro and customize your build.</p>
				</a>
			</li>
			<li>
				<a href="https://docs.astro.build/reference/components">
					<h2 class="text-2xl">Components</h2>
					<p class="text-lg">Learn how to create and use components in Astro.</p>
				</a>
			</li>
			<li>
				<a href="https://docs.astro.build/reference/data">
					<h2 class="text-2xl">Data</h2>
					<p class="text-lg">Learn how to fetch data from APIs and other sources.</p>
				</a>
			</li>
			<li>
				<a href="https://docs.astro.build/reference/deploy">
					<h2 class="text-2xl">Deploy</h2>
					<p class="text-lg">Learn how to deploy your Astro site to the web.</p>
				</a>
			</li>
			<li>
				<a href="https://docs.astro.build/reference">
					<h2 class="text-2xl">Reference</h2>
					<p class="text-lg">Learn more about Astro's APIs and configuration options.</p>
				</a>
			</li>
		</ul>
	</main>
</Layout>
