---
import Layout from '~/layouts/Layout.astro';
---

<Layout title="Lightup">
	<main class="flex flex-col p-4 gap-4">
		<h1 class="text-4xl">Welcome to <span>Astro</span></h1>
		<p class="text-lg">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
	</main>
</Layout>
