---
import { ViewTransitions } from "astro:transitions";

import "~/styles/global.css";
interface Props {
  title: string;
}

import PostHog from "~/components/posthog.astro";
import SciComModel from "~/components/ProfileModal";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Profile - Lightup</title>
    <ViewTransitions />
    <PostHog />
  </head>
  <body>
    <header>
      <nav class='flex flex-nowrap p-4 sm:py-6 sm:px-8 mx-auto max-w-6xl z-50'>
        <a
          href='/'
          class='relative opacity-100 group-hover:opacity-100 z-50'
          aria-label='go back to the homepage'
          data-astro-prefetch
        >
          <h2
            class='py-2 px-4 bg-brand_pink text-4xl text-brand_white font-brand_white absolute translate-x-8 translate-y-8 h-fit w-max'
          >
            Go back
          </h2>
        </a>
        <a
          href='/'
          class='z-50 bg-brand_black'
          aria-label='home'
          data-astro-prefetch
        >
          <h1 class='text-start text-4xl font-black text-brand_yellow'>
            Lightup
          </h1>
        </a>
      </nav>
    </header>
    <main>
      <iframe
        name='sci-hub'
        title='sci-hub'
        src='https://sci-hub.ee/'
        class='absolute top-0 left-0 w-screen h-screen border-none z-0'
      ></iframe>
    </main>
    <SciComModel client:only='solid-js' />
  </body>
</html>
