---
import LikeComponent from "~/components/LikeComponent";
import ThankYouLetter from "~/components/ThankYouLetter";
import Layout from "~/layouts/Layout.astro";
import type { Project } from "~/components/ProjectLikeButton";
const project = Astro.props.project as Project;
---

<Layout
  title='Thank You for Your Donation - Empower & Earn with LightUp'
  description='Your donation to LightUp is invaluable. Thanks and welcome to our Empower & Earn program! Share your affiliate link and get rewarded with 10% of the funds raised.'
  image='https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/af4aefd1-df33-40aa-af44-0e33a8137b00/ogImage'
>
  <div class='flex flex-col max-w-6xl p-4 gap-4'>
    <h1 class='text-brand_yellow'>We Shine Brighter Together</h1>
    <h1 class='text-brand_yellow'>Thank You for Being a Light</h1>
    <h2 class='text-center'>
      Empower & Earn: Receive a Generous 10% Reward for Every Donation Made via
      Your Link!
    </h2>
    <ThankYouLetter project={project} client:only />
  </div>
  <LikeComponent client:only project={project} />
</Layout>
