---
export const prerender = true;

import { ViewTransitions } from "astro:transitions";

import "~/styles/global.css";
interface Props {
  title: string;
}

const { title } = Astro.props;

import PostHog from "~/components/posthog.astro";
import AuthModel from "~/components/AuthModel.tsx";
import ProfileButton from "~/components/ProfileButton";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <PostHog />
  </head>
  <body>
    <header>
      <nav class='flex justify-between flex-nowrap p-4 sm:py-6 sm:px-8 mx-auto max-w-6xl'>
        <h1 class='text-start text-4xl font-black text-brand_yellow'>
          Lightup
        </h1>
        <ProfileButton client:load />
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <AuthModel client:load />
  </body>
</html>
