---
// src/layouts/Layout.astro
import "~/styles/global.css";
interface Props {
  title: string;
}

const { title } = Astro.props;

import PostHog from "../components/posthog.astro";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <PostHog />
  </head>
  <body>
    <header>
      <h1 class="logo">Lightup</h1>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
<style>
  .logo {
    font-size: 2rem;
    font-weight: 900;
    color: #ffda00;
    padding: 0.5rem 1rem;
    @media screen and (min-width: 425px) {
      margin: 0 2rem;
    }
  }
</style>
