---
export const prerender = true;

import { ViewTransitions } from "astro:transitions";
import "@fontsource/montserrat";

import "~/styles/global.css";

declare global {
  interface Window {
    posthog: any; // Add this line for postHog
    Intercom: any; // Existing declaration
    intercomSettings: {
      // Adding the intercomSettings property
      api_base: string;
      app_id: string;
      name?: string;
      user_id?: string;
      email?: string;
      created_at?: number;
    };
  }
}
interface Props {
  title?: string;
  description?: string;
  image?: string;
}

import PostHog from "~/components/posthog.astro";
import ProfileButton from "~/components/ProfileButton";
import NotificationContainer from "~/components/Notifications/NotificationContainer";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='robots' content='index, follow' />
    <meta
      name='description'
      content={Astro.props.description ||
        "Lightup – a community where your involvement accelerates scientific progress and global betterment. Contribute to impactful research and be the catalyst for change."}
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta
      property='og:title'
      content={Astro.props.title ??
        "Lightup: Fueling Scientific Breakthroughs for a Better World"}
    />
    <meta
      property='og:description'
      content={Astro.props.description ||
        "Lightup – a community where your involvement accelerates scientific progress and global betterment. Contribute to impactful research and be the catalyst for change."}
    />
    <meta
      property='og:image'
      content={Astro.props.image ||
        "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/fb0e414d-605c-4c94-c850-2dd685472900/ogImage"}
    />
    <meta name='generator' content={Astro.generator} />
    <title>
      {
        Astro.props.title ??
          "Lightup: Fueling Scientific Breakthroughs for a Better World"
      }
    </title>
    <ViewTransitions />
    {import.meta.env.DEV ? null : <PostHog />}
    <script defer src='https://js.stripe.com/v3/'></script>
    <link rel='sitemap' href='/sitemap-index.xml' />
  </head>
  <body>
    <header>
      <nav class='flex justify-between flex-nowrap p-4 mx-auto max-w-6xl z-50'>
        <a href='/' aria-label='Lightup' data-astro-prefetch>
          <h1 class='text-start text-4xl font-black text-brand_yellow'>
            Lightup
          </h1>
        </a>
      </nav>
      <NotificationContainer client:only='solid-js' />
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
