---
export const prerender = true;

import { ViewTransitions } from "astro:transitions";

import "~/styles/global.css";
interface Props {
  title: string;
}

import PostHog from "~/components/posthog.astro";
import AuthModel from "~/components/AuthModel.tsx";
import ProfileButton from "~/components/ProfileButton";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <ViewTransitions />
    <PostHog />
  </head>
  <body>
    <header>
      <nav
        class='flex justify-between flex-nowrap p-4 sm:py-6 sm:px-8 mx-auto max-w-6xl z-50'
      >
        <a href='/' data-astro-prefetch>
          <h1 class='text-start text-4xl font-black text-brand_yellow'>
            Lightup
          </h1>
        </a>
        <a href='/profile' data-astro-prefetch>
          <ProfileButton client:only /> 
        </a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <AuthModel client:load />
  </body>
</html>
