---
export const prerender = true;

import { ViewTransitions } from "astro:transitions";

import "~/styles/global.css";

declare global {
  interface Window {
    FrontChat: any; // Use a more specific type if you know the structure of FrontChat
  }
}
interface Props {
  title?: string;
  description?: string;
  image?: string;
}

import PostHog from "~/components/posthog.astro";
import ProfileButton from "~/components/ProfileButton";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='description' content={Astro.props.description || "Lightup – a community where your involvement accelerates scientific progress and global betterment. Contribute to impactful research and be the catalyst for change."} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta
      property='og:title'
      content={Astro.props.title ??
        "Lightup: Fueling Scientific Breakthroughs for a Better World"}
    />
    <meta property='og:description' content={Astro.props.description || "Lightup – a community where your involvement accelerates scientific progress and global betterment. Contribute to impactful research and be the catalyst for change."} />
    <meta
      property='og:image'
      content={Astro.props.image ||
        "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/4accd2f7-b876-4a25-4b18-b0a973798700/ogImage"}
    />
    <meta name='generator' content={Astro.generator} />
    <title>{Astro.props.title ?? "Lightup: Fueling Scientific Breakthroughs for a Better World"}</title>
    <ViewTransitions />
    <PostHog />
    <script async src="https://js.stripe.com/v3/"></script>
    <script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        if (window.FrontChat) {
          window.FrontChat('init', {chatId: '3aa11bafd47528cb82df79e039b92815', useDefaultLauncher: true});
        } else {
          console.error('FrontChat is not loaded');
        }
      });
    </script>
    
  </head>
  <body>
    <header>
      <nav
        class='flex justify-between flex-nowrap p-4 mx-auto max-w-6xl z-50'
      >
        <a href='/' data-astro-prefetch>
          <h1 class='text-start text-4xl font-black text-brand_yellow'>
            Lightup
          </h1>
        </a>
        <a href='/profile' data-astro-prefetch>
          <ProfileButton client:only="solid-js" />
        </a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>